.zoneW, .zoneS{
	padding: 20px;
}

.redZone{
	background-color: red;
}

#safeZone{
	background-color: white;
}





<!DOCTYPE html>
<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css">
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.css">
	<style>
		*{
			/*border: 1px solid black;*/
		}
	</style>

</head>
<body>

<div id="game">
	<div id="winzone" class="bg-success zoneW" onmouseover="winScreen()">WIN</div>
	<div id="maze" class="mazearea">
		<div class="container">
			<div class="row redZone test" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"  id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>
			<div class="row redZone" onmouseover="killZone()">
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1" id="safeZone">  </div>
				<div class="col-lg-1">  </div>
				<div class="col-lg-1"> . </div>
			</div>

		</div>
	</div>
	<div id="start" class="zoneS">START</div>
</div>

<script src="assets/scripts/script.js"></script>
</body>
</html>











let deathCount = 0;

let safe = document.getElementById('safeZone');

let rows = document.querySelectorAll('row');


function killZone(e){
	if(e.contains(safe)){
		console.log('safe');
	}else{
		console.log('fail');
	}
}


function winScreen(){
	console.log('You win')
	// alert('You won after ' + deathCount + ' tries.');
}


/*
.rect1{
	background-color: red;
	height: 10vh;
	width: 49vw;
	position: relative;
}

.rect2{
	display: flex;
	background-color: red;
	height: 10vh;
	width: 50vw;
	position: relative;
	left: 50vw;
	bottom: 10vh;
}

.rect3{
	background-color: red;
	height: 9vh;
	width: 49vw;
	position: relative;
	bottom: 10vh;
	margin-bottom: 1vh;
}

.rect4{
	background-color: red;
	height: 10vh;
	width: 50vw;
	left: 50vw;
	position: relative;
	bottom: 20vh;
}

.rect5{
	background-color: red;
	height: 10vh;
	width: 50vw;
	position: relative;
	bottom: 20vh;
}

.rect6{
	background-color: red;
	height: 10vh;
	width: 50vw;
	left: 50vw;
	position: relative;
	bottom: 30vh;
}

.rect7{
	background-color: red;
	height: 10vh;
	width: 50vw;
	position: relative;
	bottom: 30vh;
}

.rect8{
	background-color: red;
	height: 10vh;
	width: 50vw;
	left: 50vw;
	position: relative;
	bottom: 40vh;
}

.rect9{
	background-color: red;
	height: 10vh;
	width: 50vw;
	position: relative;
	bottom: 40vh;
}

.rect10{
	background-color: red;
	height: 10vh;
	width: 50vw;
	left: 50vw;
	position: relative;
	bottom: 50vh;
}
*/